@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Titillium Web", sans-serif;;
}
.flex{
    display: flex;
}


/* header */

header{
    display: flex;
    align-items: center;
    height: 180px;
    background-color: #fff0;
    box-shadow: 0 10px 7px -15px;
    background-image: linear-gradient(180deg, #29213938 0%, #FFFFFF00 100%);
}
.header-img{
    padding: 0 0 0 8.2rem;
    width: 42%;
}
.list-header{
    width: 50%;
}
header .header-img img{
    height: 115px;
    width: 110px;
    cursor: pointer;
}
.list-header ul:nth-child(1){
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.list-header ul li a{
    display: flex;
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    padding: 0 5px;
    color: #000000;
    font-size: 17px;
    transition: 0.7s;
    text-transform: uppercase;
    cursor: pointer;
}
.list-header ul li a:hover{
    color: #F01E28;
}

/* menu select */

.menu-servicios{
    display: none;
}

/* banner */

.banner{
    display: flex;
    align-items: center;
    position: relative;
}
.inf-banner, .image-banner{
    width: 50%;
}
.inf-banner{
    padding: 0 0 0 8.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}
.image-banner{
    text-align: center;   
    position: relative;
}

.inf-banner p{
    font-size: 25px;
    font-family: "Titillium Web", sans-serif;
}
.inf-banner p strong, .inf-banner h1 strong{
    color: #F01E28;
    font-weight: 700;
}
.inf-banner h1{
    font-family: "Titillium Web", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
}
.button-banner{
    width: max-content;
    align-items: center;
    box-shadow: 0 1px 0px 0px;
}
.button-banner a{
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

/* icons-banner */

.image-banner .icons-banner .container-icon, .container-figure{
    position: absolute;
}
.image-banner .icons-banner .container-icon img, .container-figure img{
    position: relative;
}
.image-banner .icons-banner .container-icon:nth-child(1){
    top: 12%;
    right: 65%;
}
.image-banner .icons-banner .container-icon:nth-child(2){
    top: 82%;
    right: 33%;
}
.image-banner .icons-banner .container-icon:nth-child(3) {
    top: 52%;
    right: 22%;
}
.image-banner .icons-banner .container-icon:nth-child(6){
    top: 30%;
    right: 72%;
}
.image-banner .icons-banner .container-icon:nth-child(5){
    top: 40%;
    right: 67%;
}
.image-banner .icons-banner .container-icon:nth-child(4){
    top: 40%;
    right: 24%;
}
.image-banner .icons-banner .container-icon:nth-child(3) img{
    width: 70px;
    height: 70px;
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-last-child(-n+2) img{
    width: 30px;
    height: 30px;
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-child(4) img{
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-child(-n+2) img{
    width: 65px;
    height: 65px;
    animation: salto 0.8s infinite;
}

/* icon salto */

@keyframes salto{
    0%, 100% {top: 0;}
    30%  {top: -10px;}
}

/* figures banner */
.container-figure:nth-child(1){
    top: 90%;
    right: 90%;
}
.container-figure:nth-child(2){
    top: 10%;
    right: 2%;
}
.figure-banner img:nth-child(1){
    width: 120px;
    height: 45px;
    animation: saltofig 2s infinite;
}
.figure-banner img:nth-child(2){
    width: 120px;
    height: 40px;
    animation: saltofig 2s infinite;
}

/* icon salto */

@keyframes saltofig{
    0%, 100% {right: 0;}
    30%  {right: -10px;}
}

/* Clientes */

.business-logos{
    margin-top: 6rem;
    background-color: #000;
    height: auto;
    width: 1200px;
}
.cliente{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.scroll{
    position: relative;
    display: flex;
    width: 1200px;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.scroll .este{
    white-space: nowrap;
    animation: animate 30s linear infinite;
} 
.scroll img{
    width: 100px;
    height: 80px;
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
}
.scroll img:not(:hover){
    filter: grayscale(100%);
}
@keyframes animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}
.scroll:hover .este{
    animation-play-state: paused;
}

/* Nosotros */
.nosotros{
    position: relative;
    margin: 4rem 0 5rem 0;
}
.img-nosotros{
    display: flex;
}
.first-column{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
}
.second-column{
    width: 55%; 
}
.title-nosotros h1{
    margin: 60px 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
}
.title-nosotros strong{
    color: #F01E28;
    font-weight: 700;
}
.img-nosotros img:nth-child(1){
    width: 400px;
    height: 550px;
    margin: 150px 30px 0 0;
}
.second-column img:nth-child(2){ 
    padding: 0 20px;
    width: 160px;
    height: 50px;   
}
.second-column .second-img-nosotros{
    width: 730px;
    height: 430px; 
}
.second-column p{
    margin: 30px 0;
    padding: 40px 0 40px 20px;
    font-size: 23px;
    box-shadow: -12px 0px 7px -15px;
    font-weight: 100;
}

/* button cicle */

.button-nosotros{
    position: absolute;
    top: 90%;
    right: 75%;
}
.botton-ete{
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 48px 26px;
    border-radius: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    background-color: #000;
    z-index: 1;
}
.botton-ete a{
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffff;
}
.botton-ete::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    background-color: #fe0000;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}
.botton-ete:hover::before{
    top: 0%;
    border-radius: 0%;
}
.botton-ete i{
    color: #fff;
    font-size: 22px;
}


/* solution */
.solution .title-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solution .title-nosotros h1{
    padding: 0 0 0 6rem;
}
.title-nosotros img{
    width: 130px;
    height: 45px;
    transform: scaleX(-1);
    margin-top: 3rem;
}
.solution-order{
    position: relative;
    display: flex;
    justify-content: left;
    margin: 2rem 0;
}
.solution-order .solution-orden-img, .solution-order ul{
    width: 50%;
}
.solution-orden-img img{
    position: absolute;
    top: 40%;
    width: 230px;
    height: 250px;
}
.solution ul{
    width: max-content;
    box-shadow: -12px 0px 7px -15px;
    padding: 30px 0;
}
.solution ul li{
    display: flex;
    align-items: center;
    padding: 0 0 15px 20px;
    font-size: 23px;
}

/* point */
.point-indic{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.title-indic{
    padding: 0 0 0 6rem;
    padding-top: 8rem;
}
.title-indic h1{
    font-size: 40px;
    text-transform: uppercase;
}
.title-indic strong{
    color: #F01E28;
    font-weight: 700;
}
.title-indic p{
    font-size: 20px;
}

/* Metodologia */

.metodologia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding:40px 0;
}
.metodologia .metod-unid{
    width: 28%;
    padding: 40px 0 40px 40px;
    box-shadow: -12px 0px 7px -15px;
}
.metod-unid img{
    width: 80px;
    height: 80px;
}
.metod-unid h2{
    font-size: 30px;
}
.metod-unid p{
    font-size: 20px;
}
.figure-metod{
    text-align: end;
}
.figure-metod img{
    width: 150px;
    height: 150px;
}

/* servicios */

.service{
    padding: 7rem 0 0 0;
    background-color: #F6F6F6;
}
.title-service{
    display: flex;
    align-items: center;
}
.title-service .title-second-file{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}
.title-second-file a{
    font-size: 20px;
    border-bottom: 1px solid #fe0000;
}
.title-second-file a, .title-second-file i{
    color: #fe0000;
}
.title-first-file{
    padding: 0 0 0 6rem;
    width: 60%;
}
.title-first-file h1{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
}
.title-first-file p{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
}
.title-first-file strong{
    color: #F01E28;
    font-weight: 700;
}
.concep-service{
    position: relative;
}
.paraph-service{
    display: flex;
    justify-content: end;
    padding: 2rem 14rem 0 0;
}
.paraph-service p{
    font-size: 25px;
    box-shadow: -12px 0px 7px -15px;
    padding: 40px 0 40px 40px;
}
.figures-service{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.figures-service img:nth-child(1){
    position: absolute;
    top: 10%;
    right: 85%;
    width: 100px;
    height: 40px;
}
.figures-service img:nth-child(2){
    position: absolute;
    top:40%;
    right: 0;
    width: 110px;
    height: 260px;
}

/* tipos de services */

.tips-services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5rem 0;
}
.servicio{
    background-color: #c9c9c9;
    border: 1px solid #000;
    color: #292139;
    border-radius: 50px;
    padding: 70px 30px 40px 20px;
    width: 30%;
    cursor: pointer;
}
.servicio:hover{
    background-color: #e0efe7;
}
.servicio img,
.servicio h2,
.servicio p{
    display: flex;
    align-items: center;
    height: 100px;
}
.servicio h2{
    font-size: 42px;
    line-height: 50px;
    margin: 20px 0;
}
.servicio p{
    font-size: 20px;
    width: 80%;
}
.figure-service{
    text-align: end;
    transform: scaleX(-1);
}
.figure-service img{
    width: 150px;
    height: 150px;
}

/* Proyectos */

.project{
    margin: 4rem 0;
}
.concep-project{
    margin-top: 2rem;
    padding: 0 0 0 6rem;
}
.concep-project p{
    box-shadow: -12px 0px 7px -15px;
    padding: 40px 0 40px 30px;
}
.project-unid{
    margin-top: -11rem;
    width: 100%;
}
.project-first{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 4rem;
}
.inf-cad-project{
    width: 20%;
    margin-bottom: 4rem;
}
.project-first .img-project img{
    width: 100%;
    height: 700px;
}
.inf-cad-project h2{
    font-size: 48px;
}
.inf-cad-project p{
    font-size: 20px;
}
.project-second{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.proj-abso{
    position: relative;
    margin-top: 8rem;
    margin-left: -3rem;
}
.project-second-file{
    width: 565px;
}
.proj-absol .inf-cad-proj{
    width: 600px;
}
.project-second .project-second-file img{
    object-fit: cover;
    width: 600px;
    height: 480px;
}
.proj-absol .inf-cad-proj{
    text-align: end;
}
.inf-cad-proj h2{
    font-size: 45px;
    font-weight: 600;
}
.inf-cad-proj p{
    font-size: 20px;
}

